*{ box-sizing: border-box;}
/*changed to match notepad advice of font-family*/
body {
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #eaeaea;
    color: #666666;
}
header {
    /*background aspects*/
    background-color: #002171;
    height: 120px; 
    padding-top: 30px; 
    padding-left: 3em;
    
    /*text elements */
    color : #FFFFFF;
    text-align: center;
   
}
/*header area hyperlinks*/
header a:link{
    color: #FFFFFF;
    text-decoration: none;
}
header a:visited{
    color: #FFFFFF;
    text-decoration: none;
}
header a:hover{
    color: #90c7e3;
}
nav {
    float: left;
    width: 160px;
    font-weight: bold;
    font-size: 120%;
    padding: 1.5em;
}
/*navigation area*/
nav a{
    text-decoration: none;
}
nav ul{
    list-style-type: none; 
    margin:0;
    padding-left: 0;
    font-size: 1.2em;
}
nav a:link{
    color: #5c7fa3;
}
nav a:visited{
    color: #334873;
}
nav a:hover{
    color: #a52a2a;
}
/*Main*/
main{
    padding: 1px 20px 20px 30px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 190px;
    overflow: auto;
}
/*unordered list configured to only main*/
 main ul{
    list-style-image: url(marker.gif);
}
/*section configuration*/
section{
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}
/*configuring headers*/
h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: Georgia, "Times New Roman",serif;
    font-size: 3em;
    letter-spacing: 0.25em;
}
h2 {
    color: #1976D2;
    text-shadow: 1px 1px 1px #CCCCCC;
    font-family: Georgia, "Times New Roman", serif;
}
h3 {
    color: #000033;
    font-family: Georgia, "Times New Roman", serif;
}

/*Configuration for the form layout*/
form{
    display: block;
    flex-flow: column nowrap;
}
label{
    float:left;
    display: block;
    text-align: right;
    width: 140px;
    padding-right: 5px;
}
input{
    display: block;
    margin-bottom: 20px;
}
textarea{
    display: block;
    margin-bottom: 20px;
}
/*Submit button for the form*/
input[type="submit"]{
    margin-left: 140px;

}

/*Configuring our Table*/
table{
    border: 2px solid #39c;
    border-collapse: collapse;
}
/*Configuring table cells*/
td{
    padding: 0.5em;
    border: 2px solid #39c;
    text-align: center;
}
th{
    padding: 0.5em;
    border: 2px solid #39c;
}
/*Alternating the color of the rows in a table*/
tr:nth-of-type(odd) {
    background-color: #BDDFF0;
}
/*Id and classes*/
#contact{
    font-size: 90%;
}
#wrapper{ 
     
    margin-left: auto;
    margin-right: auto;
    width: 80%;   
    min-width: 960px;
    max-width: 2048px;
    background-color: #90C7e3;
    border: 1px solid #000033; 
    box-shadow: 3px 3px 3px #333;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7e3);
    background-repeat: no-repeat;
}
#homehero{
    height: 300px;
    background-image: url(coast2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
#yurthero{
    height: 300px;
    background-image: url(yurt.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
#trailhero{
    height: 300px;
    background-image: url(trail.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
.resort {
    color: #1976D2;
    font-weight: bold;
}
/*override the table to center text*/
.text{
    text-align: left;
}
/*clears out our floats*/
#special{
    clear:both;
}
/*Configuring Footer*/
footer{
    padding: 2em;
    background-color: #FFFFFF;
    margin-left: 190px;
    text-align: center;
    font-style: italic;
    font-size: 75%;
    font-family: Georgia, "Times New Roman", Times, serif;
}